.admin-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .admin-dashboard > div {
    flex: 1 1 55%;  /* Chaque section prend environ 55% de la largeur du parent */
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);  /* Ombre douce pour la séparation visuelle */
    padding: 20px;
    background-color: #fff;  /* Fond blanc pour les sections */
    border-radius: 8px;  /* Coins arrondis */
  }
  
  table {
    width: 100%;  /* Les tableaux prennent toute la largeur de leur conteneur */
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;  /* Lignes horizontales entre les rangées */
  }
  
  button {
    margin-right: 10px;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  button {
    background-color: #4CAF50;  
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    background-color: #fafafa;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  @media (max-width: 768px) {
    .admin-dashboard > div {
      flex: 1 1 100%;  /* Chaque section prend 100% de la largeur sur les petits écrans */
    }
  }
  
  .modal-content {
    max-width: 500px;  /* Assurez-vous que la modale n'est pas trop large */
    width: 90%;  /* Utilisez une largeur relative pour les petits écrans */
  }
  
  
  th, td {
    border-bottom: 2px solid #eee; /* Ligne plus épaisse pour une meilleure séparation */
  }

  .idFermer{
    background-color: #808080;
  }
  
  /* Zébrage des lignes de tableau */
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  